<template>
  <v-container>
    <div>
      <v-row class>
        <v-col class="mb-5" cols="12">
          <h2 class="headline font-weight-bold mb-3 text-center">Write an article</h2>

          <v-row justify="center">
            <v-col cols="5" sm="5" md="5">
              <v-text-field label="Give me something to write about" single-line solo></v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col class="mb-5" cols="12">
          <v-container>
            <v-card class="mt-4 mx-auto">
              <v-sheet
                dark
                rounded
                class="v-sheet--offset mx-auto"
                color="#c2a97d"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <v-card-title>
                  <h2>Your Articles</h2>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
              </v-sheet>
              <v-card>
                <v-data-table :headers="headers" :items="desserts" :search="search"></v-data-table>
              </v-card>
            </v-card>
          </v-container>
        </v-col>

        <!-- <v-col class="mb-5" cols="12">
          <h2 class="headline font-weight-bold mb-3">Ecosystem</h2>

          <v-row justify="center">
            <a
              v-for="(eco, i) in ecosystem"
              :key="i"
              :href="eco.href"
              class="subheading mx-3"
              target="_blank"
            >{{ eco.text }}</a>
          </v-row>
        </v-col>-->
      </v-row>
    </div>
  </v-container>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Dessert (100g serving)",
          align: "start",
          sortable: false,
          value: "name",
        },
        { text: "Calories", value: "calories" },
        { text: "Fat (g)", value: "fat" },
        { text: "Carbs (g)", value: "carbs" },
        { text: "Protein (g)", value: "protein" },
        { text: "Iron (%)", value: "iron" },
      ],
      desserts: [
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: "1%",
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: "1%",
        },
        {
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: "7%",
        },
        {
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: "8%",
        },
        {
          name: "Gingerbread",
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: "16%",
        },
        {
          name: "Jelly bean",
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          iron: "0%",
        },
        {
          name: "Lollipop",
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          iron: "2%",
        },
        {
          name: "Honeycomb",
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          iron: "45%",
        },
        {
          name: "Donut",
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          iron: "22%",
        },
        {
          name: "KitKat",
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: "6%",
        },
      ],
    };
  },
};
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>