<template>
  <div class="hello">
    <v-row class="text-center">
      <v-col cols="12">
        <v-img :src="require('../assets/logo-django.png')" class="my-3" contain height="150" />
      </v-col>
      <v-col class="mb-4">
        <p
          class="subheading font-weight-regular"
        >The data below is added/removed from the SQLite Database using Django's ORM and Rest Framework.</p>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">Create a message</h2>

        <v-row justify="center">
          <v-card flat tile width="600">
            <v-text-field label="Subject" v-model="subject" single-line></v-text-field>
            <v-text-field label="Message" v-model="msgBody" single-line></v-text-field>
            <v-btn
              type="submit"
              value="Add"
              @click="addMessage({ subject: subject, body: msgBody })"
              :disabled="!subject || !msgBody"
              block
              color="secondary"
              dark
            >Block Button</v-btn>
          </v-card>
        </v-row>
      </v-col>
      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">Messages saved on the database</h2>

        <v-row justify="center">
          <v-card flat tile width="800">
            <p v-if="messages.length === 0">No Messages</p>
            <div class="msg" v-for="(msg, index) in messages" :key="index">
              <p class="msg-index">[{{index}}]</p>
              <p class="msg-subject" v-html="msg.subject"></p>
              <p class="msg-body" v-html="msg.body"></p>
              <v-btn
                type="submit"
                @click="deleteMessage(msg.pk)"
                class="ma-2"
                dark
                block
                color="indigo"
              >Delete</v-btn>
            </div>
          </v-card>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "Messages",
  data() {
    return {
      subject: "",
      msgBody: "",
    };
  },
  computed: mapState({
    messages: (state) => state.messages.messages,
  }),
  methods: mapActions("messages", ["addMessage", "deleteMessage"]),
  created() {
    this.$store.dispatch("messages/getMessages");
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
hr {
  max-width: 65%;
}

.msg {
  margin: 0 auto;
  max-width: 30%;
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.msg-index {
  color: #ccc;
  font-size: 0.8rem;
  /* margin-bottom: 0; */
}

img {
  width: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}
</style>
