<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon @click.stop="sidebarMenu = !sidebarMenu"></v-app-bar-nav-icon>

      <v-spacer></v-spacer>
      <v-divider class="mx-4" vertical></v-divider>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon @click="toggleTheme" depressed class="mr-2">
            <v-icon>{{buttonText}}</v-icon>
          </v-btn>
        </template>
        <span>Toggle theme</span>
      </v-tooltip>
      <v-divider class="mx-4" vertical></v-divider>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon depressed class="mr-2">
            <v-badge color="green" content="6">
              <v-icon>mdi-bell-outline</v-icon>
            </v-badge>
          </v-btn>
        </template>
        <span>Notifications</span>
      </v-tooltip>
      <v-divider class="mx-4" vertical></v-divider>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon depressed class="mr-2">
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
        <span>Logout</span>
      </v-tooltip>
    </v-app-bar>

    <v-navigation-drawer
      v-model="sidebarMenu"
      app
      floating
      :permanent="sidebarMenu"
      :mini-variant.sync="mini"
    >
      <v-list dense color="primary" dark>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <h3 class="py-2 font-weight-thin text-truncate">Hello There !</h3>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list-item class="px-2" @click="toggleMini = !toggleMini">
        <v-avatar class="ma-2">
          <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" />
        </v-avatar>
        <v-list-item-content class="text-truncate">Jane Doeski</v-list-item-content>
        <v-btn icon small>
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>
      <v-divider></v-divider>

      <!-- <v-list>
        <v-list-group v-for="item in items" :key="item.title" :prepend-icon="item.action" no-action>
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item v-for="subItem in item.items" :key="subItem.title" @click="1">
            <v-list-item-content>
              <v-list-item-title v-text="subItem.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>-->
      <v-list>
        <v-list-item v-for="item in items" :key="item.title" link :to="item.href">
          <v-list-item-icon>
            <v-icon color="secondary">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="secondary--text">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container fluid>
        <v-row class="fill-height">
          <v-col>
            <transition name="fade" mode="out-in">
              <router-view></router-view>
            </transition>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-footer>
      <v-spacer></v-spacer>
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  show: true,
  components: {},
  computed: {
    mini() {
      return this.$vuetify.breakpoint.smAndDown || this.toggleMini;
    },
    buttonText() {
      return !this.$vuetify.theme.dark
        ? "mdi-weather-night"
        : "mdi-weather-sunny";
    },
  },
  // sidebarMenu: true,
  //   toggleMini: false,
  data() {
    return {
      sidebarMenu: true,
      toggleMini: false,
      items: [
        // {
        //   action: "mdi-face-profile",
        //   title: "Attractions",
        // },
        // {
        //   action: "mdi-face-profile",
        //   title: "Dining",
        //   active: true,
        //   items: [
        //     { title: "Breakfast & brunch" },
        //     { title: "New American" },
        //     { title: "Sushi" },
        //   ],
        // },
        // {
        //   action: "mdi-face-profile",
        //   title: "Education",
        //   items: [{ title: "List Item" }],
        // },
        // {
        //   action: "mdi-face-profile",
        //   title: "Family",
        //   items: [{ title: "List Item" }],
        // },
        // {
        //   action: "mdi-face-profile",
        //   title: "Health",
        //   items: [{ title: "List Item" }],
        // },
        // {
        //   action: "mdi-face-profile",
        //   title: "Office",
        //   items: [{ title: "List Item" }],
        // },
        // {
        //   action: "mdi-face-profile",
        //   title: "Promotions",
        //   items: [{ title: "List Item" }],
        // },
        //Initial side menu items
        // items: [
        { title: "Dashboard", href: "/", icon: "mdi-view-dashboard-variant" },
        { title: "Articles", href: "/articles", icon: "mdi-typewriter" },
        { title: "Orders", href: "/orders", icon: "mdi-bus-clock" },
        { title: "Profile", href: "/profile", icon: "mdi-face-profile" },
        { title: "Billing", href: "/payments", icon: "mdi-cash-multiple" },
        // { title: "Messages", href: "/Messages", icon: "mdi-shield-account" },
        // ],
      ],
    };
  },
  methods: {
    toggleTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
  },
};
</script>

<style  scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>


